@{
    ViewData["Title"] = "Home Page";
}

<div class="container body-content">
    <h2>列表</h2>
    <ul>
        <li><a href="/home/readbook" class="bigFont">圣墟-webapi</a></li>
        <li><a href="/home/readbook2" class="bigFont">圣墟-接口</a></li>
        <li></li>
        <li><a href="/home/readbook3" class="bigFont">爬取圣墟-10</a></li>
        <li><a href="/home/readbook3?count=20" class="bigFont">爬取圣墟-20</a></li>
        <li></li>
        <li><a href="/home/readbook5" class="bigFont">凡人-10</a></li>
        <li><a href="/home/readbook5?count=20" class="bigFont">凡人-20</a></li>
    </ul>
</div>

