<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadBook</title>
</head>
<body>
    <h2>圣墟</h2>
    <div id="content">
        <ul id="list">

        </ul>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="@Url.Content("~/js/main.js")" type="text/javascript"></script>
</body>
</html>
